* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.addition-modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  /* Modal Content */
  .addition-modal-content {
    position: fixed;
    bottom: 0;
    background-color: #e7e7e7;
    width: 50vw;
    -webkit-animation-name: additionSlideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: additionSlideIn;
    animation-duration: 0.4s;
    padding: 0;
    margin: 0;
  }
  
  /* The Close Button */
  .close {
    color: #2196f3;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 0;
    margin: 0;
  }


  
  /* Add Animation */
  @-webkit-keyframes additionSlideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes additionSlideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }




 /* -------------------------------------------------- MEDIA QUERIES ------------------------------------------------ */

/* Smartphones */
@media only screen and (max-width: 500px) {

    .addition-modal-content {
        width: 100vw;
    }

}

/* Tablet */
@media(min-width: 501px) and (max-width: 768px) {

}



/* Normal */
@media(min-width: 769px) and (max-width: 1200px) {

}

/* Widescreen */
@media(min-width: 1201px) {

}

/* Landscape */
@media(max-height: 500px) {

}