*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Nunito', sans-serif;
}

.headerLink {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    height: 100%;
}

.headerLink:hover {
    color: white;
    text-decoration: underline;
}