*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Nunito', sans-serif;
}

.headerLink {
    color: white;
    padding: 10px 8px;
    text-decoration: none;
    height: 100%;
}

.headerLink:hover {
    color: white;
    text-decoration: underline;
}

.header-logo-img {
    content:url('../images/logo-white75.png');
    width: 38px;
    height: 32px;
}

.header-menu-img {
    content:url('../images/menu.png');
    width: 32px;
    height: 32px;
}

.header-plate-img {
    content:url('../images/plate.png');
    width: 32px;
    height: 32px;
    margin-right: 10px;
}