

.service {
    width: 28px;
    height: 28px;
    margin: 8px;
}

.WaiterService {
    content:url('../../images/Waiter.png');
    alt: 'logo';
}

.NotesService {
    content:url('../../images/Notes.png');
    alt: 'logo';
}

.BillService {
    content:url('../../images/Bill.png');
    alt: 'logo';
}

.DoneService {
    content:url('../../images/done.png');
    alt: 'logo';
}

.SendingService {
    content:url('../../images/location.png');
    alt: 'logo';
}


.OrderService {
    content:url('../../images/Order.png');
    alt: 'logo';
}

.SaucesService {
    content:url('../../images/Sauces.png');
    alt: 'logo';
}

.SilverwareService {
    content:url('../../images/Silverware.png');
    alt: 'logo';
}

.CleanService {
    content:url('../../images/Clean.png');
    alt: 'logo';
}

.NapkinsService {
    content:url('../../images/Napkins.png');
    alt: 'logo';
}

.SaltService {
    content:url('../../images/Salt.png');
    alt: 'logo';
}

.ToothpicksService {
    content:url('../../images/Toothpicks.png');
    alt: 'logo';
}

.RestaurantService {
    content:url('../../images/Restaurant.png');
    alt: 'logo';
}

.Take-awayService {
    content:url('../../images/Take-away.png');
    alt: 'logo';
}

.DeliveryService {
    content:url('../../images/Delivery.png');
    alt: 'logo';
}

.orderStatus {
    content:url('../../images/more.png');
    alt: 'logo';
    width: 24px;
}

.DeliveryCheckedImg {
    content:url('../../images/checked.png');
    alt: '';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.call-service-modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  /* Modal Content */
  .call-service-modal-content {
    position: fixed;
    bottom: 0;
    background-color: #e7e7e7;
    width: 50vw;
    -webkit-animation-name: callServiceSlideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: callServiceSlideIn;
    animation-duration: 0.4s;
    padding: 0;
    margin: 0;
  }
  
  /* The Close Button */
  .close {
    color: #2196f3;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 0;
    margin: 0;
  }


  
  /* Add Animation */
  @-webkit-keyframes callServiceSlideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes callServiceSlideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }




 /* -------------------------------------------------- MEDIA QUERIES ------------------------------------------------ */

/* Smartphones */
@media only screen and (max-width: 500px) {

    .call-service-modal-content {
        width: 100vw;
    }

}

/* Tablet */
@media(min-width: 501px) and (max-width: 768px) {

}



/* Normal */
@media(min-width: 769px) and (max-width: 1200px) {

}

/* Widescreen */
@media(min-width: 1201px) {

}

/* Landscape */
@media(max-height: 500px) {

}